@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
    background-size: cover;
    background-position: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
        height:100px;
        border-radius: 60px;
    }
}

.wrapper{
    width: 320px;
    height: 100%;
    background-color:transparent;
    border:2px solid rgb(255, 255, 255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    color: #262626;
    border-radius: 10px;
    padding: 30px 30px;
}

.wrapper h1{
    font-size: 30px;
    text-align: center;
}

.wrapper h5{
    font-size: 14px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    

}

.input-box input{
    width: 100%;
    height: 70%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255,0.2);
    border-radius: 40px;
    font-size: 14px;
    color: #333;
    padding: 20px 45px 20px 20px;
    background-color: #d5e4e7;;
}

.input-box input::placeholder{
color: #333;
}

.input-box i{
    position: absolute;
    right: 5%;
    top: 20%;
    bottom: 15%;    
    transform: translate(-50%);
    font-size: 18px;
    
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    color: #333;;
}

.remember-forgot label input{
    accent-color: #333;
    margin-right: 3px;
}

.remember-forgot a{
    color: #333;
    text-decoration: none;
}

.remember-forgot a:hover{
text-decoration:underline;
}

.wrapper .btn{
    width: 100%;
    height: 35px;
    background-color: #3d55b6;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
    cursor: pointer;
    font-size: 18px;
    color: #efeaea;
    font-weight: 600;
    a{
        text-decoration: none;
        color:  #333;
    }
    &:hover{
        background-color: var(--hover-color); /* Button hover effect */
        background-color: #3650b7;
        box-shadow: 0 0 15px  #3650b7; 
       
    }
}

.wrapper .register-link{
font-size: 14px;
text-align: center;
margin: 20px 0 15px;

}

.register-link  a{
color: #333;
text-decoration: none;
font-weight: 600;
}
.register-link p{
    color: #333;;
}
.register-link p a:hover{
    text-decoration: underline;
    

}

@media (max-width: 750px){
    .wrapper{
        width: 320px;
        position: relative;
        
        
    }
    .logo img{
        width: 80px;
        height: 80px;
        
        
        
    }
    
    .wrapper .remember-forgot{
        justify-content: space-between;
        
        position: relative;
        right: 20px;
    }
    .wrapper .Forgot{
        position: relative;
        left: 80px;
    }

}