header{
    background: no-repeat center center;
    background-size: cover;
    color:white;
}
.color-overlay{
    background-color: rgba(0,0,0,0.4);
    min-height: 60vh;
}
@media (max-width:767.98px){
    .color-overlay{
        min-height: 30vh;
    }
}